---
// Import the necessary dependencies.
import AuthBtn from "@components/ui/buttons/AuthBtn.astro";
import ContactIconBlock from "@components/ui/blocks/ContactIconBlock.astro";
import TextInput from "@components/ui/forms/input/TextInput.astro";
import EmailContactInput from "@components/ui/forms/input/EmailContactInput.astro";
import PhoneInput from "@components/ui/forms/input/PhoneInput.astro";
import TextAreaInput from "@components/ui/forms/input/TextAreaInput.astro";
import Icon from "@components/ui/icons/Icon.astro";

// Define the variables that will be used in this component
const title: string = "Contact us";
const subTitle: string =
  "Have questions or want to discuss a project? Reach out, and let's craft the perfect solution with our tools and services.";
const formTitle: string = "Fill in the form below";
const formSubTitle: string = "We'll get back to you in 1-2 business days.";
---

<!-- Contact Us -->
<section class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14">
  <div class="mx-auto max-w-2xl lg:max-w-5xl">
    <!--ContactIconBlocks are used to display different methods of contacting, including visiting office, email, browsing knowledgebase, and FAQ.-->
    <div class="divide-y divide-neutral-300 dark:divide-neutral-700">
      <ContactIconBlock
        heading="Contact Us"
        content="For quick, clear answers to common queries."
        isLinkVisible={true}
        linkTitle="+91 98953 50559"
        ><Icon name="chatBubble" />
      </ContactIconBlock>

      <ContactIconBlock
        heading="Visit Us"
        content="B Indian Industries"
        isAddressVisible={true}
        addressContent="QMX3+HWG, Manalmantha Rd, Valiyapadam, Palakkad, Kerala 678011"
        ><Icon name="mapPin" />
      </ContactIconBlock>

      <ContactIconBlock
        heading="Contact us by email"
        content="Prefer the written word? Drop us an email at"
        isLinkVisible={true}
        linkTitle="bindianindustries@gmail.com"
        linkURL="#"
        ><Icon name="envelopeOpen" />
      </ContactIconBlock>
    </div>
  </div>
</section>
